<section id="container-body" class="container" >
    <div class="row">
        <div class="col-lg-3">
            <sidebar></sidebar> 
        </div>
        <div class="col-lg-6">
            <publisher (sended)="refresh($event)"></publisher>
            <!--<div class="container">
                <div class="row">
                    <button class="btn btn-default btn-sm ml-auto" (click)="refresh($event)">
                        <span class="fas fa-sync-alt"></span>
                    </button>
                </div>
            </div>-->
            <div id="publications">
                <div *ngFor="let publication of publications" class="card">
                    <div class="card-header bg-light card-body-header">                        
                        <div class="row">
                            <div class="avatar-pub">
                                <a href="#">
                                    <img class="img-avatar" id= "img-avatar-pub" src="{{ url + 'get/user/image/' + publication.user.image }}" *ngIf="publication.user.image">
                                    <img class="img-avatar" id= "img-avatar-pub" src="assets/user.webp" *ngIf="!publication.user.image">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <b><p>{{publication.user.nick }} &nbsp; </p></b>
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <span> {{publication.user.name + ' ' + publication.user.surname}}</span>
                                </a>
                            </div>
                            <div class="ml-auto" *ngIf="publication.user._id == identity._id">
                                <button class="btn btn-light btn-circle" type="button" data-toggle="modal" [attr.data-target]="'#myModal' + publication._id">
                                    <span class="fas fa-trash"></span>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" [attr.id]="'myModal' + publication._id"id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">¿Eliminar publicación?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ¿Seguro que quieres eliminar esta publicación? No podras recuperarla
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal"
                                                (click)="deletePublication(publication._id)">
                                                    Eliminar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body card-body-text" *ngIf="publication.text">
                        <p class="card-text">{{publication.text}}</p>
                    </div>
                    <div class="card-body card-body-img" *ngIf="publication.file">
                        <img  class="card-img-top" src="{{ url + 'publication/get/' + publication.file }}">                            
                    </div>
                    <div class="card-footer card-body-footer">
                        <p class="card-text"><small class="text-muted">{{ (publication.create_at | amFromUnix) | amLocale:'en' | amTimeAgo }}</small></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-center" id="btn-mas">
                    <button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
                        Ver más publicaciones
                    </button>
            </div>
        </div>
    </div>
</section>